@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 38 100% 96%;
    --foreground: 38 5% 10%;
    --card: 38 50% 96%;
    --card-foreground: 38 5% 15%;
    --popover: 38 100% 96%;
    --popover-foreground: 38 100% 10%;
    --primary: 38 0% 32%;
    --primary-foreground: 0 0% 100%;
    --secondary: 38 30% 90%;
    --secondary-foreground: 0 0% 0%;
    --muted: 0 30% 95%;
    --muted-foreground: 38 5% 40%;
    --accent: 0 30% 90%;
    --accent-foreground: 38 5% 15%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 38 5% 96%;
    --border: 38 30% 82%;
    --input: 38 30% 50%;
    --ring: 38 0% 32%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 38 50% 10%;
    --foreground: 38 5% 96%;
    --card: 38 50% 10%;
    --card-foreground: 38 5% 96%;
    --popover: 38 50% 5%;
    --popover-foreground: 38 5% 96%;
    --primary: 38 0% 32%;
    --primary-foreground: 0 0% 100%;
    --secondary: 38 30% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 0 30% 25%;
    --muted-foreground: 38 5% 65%;
    --accent: 0 30% 25%;
    --accent-foreground: 38 5% 95%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 38 5% 96%;
    --border: 38 30% 50%;
    --input: 38 30% 50%;
    --ring: 38 0% 32%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
